---
const { coreValues } = Astro.props;
import { Icon } from "astro-icon/components";
---

<section data-theme={theme}>
  <Icon name=`"${coreValues.icon}"` />

  <h3>{coreValues.title}</h3>
  <p>{coreValues.description}</p>
  <a href="http://`${coreValues.url}`">`${coreValues.text}`</a>
</section>

<style>
  [data-theme="dark"] {
    --bg-section: red;
    --text-section: white;
    --bg-card: blue;
    --text-card: white;
  }
</style>
